$pink : rgb(255, 192, 203);

body {
    background-color: $pink;
}

.app {
    display: flex;
    justify-content: center;

    .container {
        width: 1024px;

        .link {
            text-decoration: none;
            color: inherit;
        }

        //Login and Register

        .auth {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $pink;
            height: 100vh;
        }

        h1 {
            font-size: 30px;
            color: white;

        }

        form {
            display: flex;
            flex-direction: column;
            padding: 40px;
            background-color: white;
            width: 200px;
            gap: 15px; //inputlarin arasindaki bosluk

            input {
                padding: 5px;
                border: none;
                border-bottom: 1px solid rgb(185, 184, 184);
            }

            button {
                background-color: $pink;
                color: white;
                border: none;
                padding: 10px;
                cursor: pointer;
            }

            span {
                font-size: 13px;
                text-align: center;
            }

            p {
                font-size: 13px;
                color: red;
                text-align: center;
            }

        }

        //Navbar

        .navbar {

            .container {
                display: flex;
                align-items: center;
                padding: 10px 0px;
                justify-content: space-between;

                .logo {
                    img {
                        width: 100px;
                    }
                }

                .links {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: white;

                    h6 {
                        font-size: 16px;
                        font-weight: 300;
                    }

                    span {
                        cursor: pointer;
                    }

                    .write {
                        background-color: white;
                        width: 50px;
                        height: 50px;
                        border-radius: 70%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $pink;
                        font-weight: 300px;
                        border: 1px solid white;

                        &:hover {
                            color: white;
                            background-color: $pink;
                        }
                    }
                }
            }
        }

        //Footer

        footer {
            margin-top: 100px;
            padding: 20px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                height: 50px;
            }
        }

        //Home

        .home {
            .posts {
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 150px;

                .post {
                    display: flex;
                    gap: 100px;

                    &:nth-child(2n+1) {
                        //
                        flex-direction: row-reverse;
                    }

                    .img {
                        flex: 2;
                        position: relative;

                        &::after {
                            content: "";
                            width: 100%;
                            height: 100%;
                            background-color: white;
                            position: absolute;
                            top: 20px;
                            left: -20px;
                            z-index: -1;
                        }

                        img {
                            width: 100%;
                            max-height: 400px;
                            object-fit: cover;
                        }
                    }

                    .content {
                        flex: 3;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h1 {
                            font-size: 48px;
                        }

                        p {
                            font-size: 18px;
                        }

                        button {
                            width: max-content;
                            padding: 10px 20px;
                            border: none;
                            cursor: pointer;
                            background-color: white;
                            border: 1px solid white;

                            &:hover {
                                color: rgb(255, 158, 174);
                            }
                        }
                    }
                }
            }
        }

        //Single

        .single {
            display: flex;
            gap: 50px;

            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;

                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }

                .user {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 14px;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span {
                        font-weight: bold;
                    }
                }

                .edit {
                    display: flex;
                    justify-content: space-between;
                    gap: 5px;

                    .link {
                        border: none;
                        background-color: white;
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .icon {
                        width: 15px;
                        height: 15px;
                    }

                    h1 {
                        font-size: 42px;
                    }

                    p {
                        text-align: justify;

                        line-height: 40px;
                    }
                }

            }

            .menu {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 25px;

                h1 {
                    font-size: 20px;
                }

                .post {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }

                h2 {
                    color: white;
                }

                img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }

                button {
                    width: max-content;
                    padding: 10px 20px;
                    border: none;
                    cursor: pointer;
                    background-color: white;
                    border: 1px solid white;

                    &:hover {
                        color: rgb(255, 158, 174);
                    }
                }
            }
        }

        //Write

        .add {
            margin-top: 20px;
            display: flex;
            gap: 20px;
        }

        .content {
            flex: 5;
            display: flex;
            flex-direction: column;
            gap: 20px;

            input {
                padding: 10px;
                border: 1px solid $pink;
            }

            .editorContainer {
                height: 300px;
                overflow: scroll;
                background-color: white;

                .editor {
                    height: 300px;
                }
            }
        }

        .menu {
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .item {
                border: 1px solid white;
                border-radius: 10px;
                padding: 10px;
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 12px;

                h1 {
                    font-size: 20px;
                }

                b {
                    color: rgb(102, 100, 100);
                }

                span {
                    color: rgb(102, 100, 100);
                }

                label {
                    color: rgb(102, 100, 100);
                }

                .file {
                    text-decoration: underline;
                    cursor: pointer;
                }

                .buttons {
                    display: flex;
                    justify-content: space-between;

                    :first-child {
                        cursor: pointer;
                        color: $pink;
                        background-color: white;
                        border: 1px solid $pink;
                        padding: 3px 5px;
                    }

                    :last-child {
                        cursor: pointer;
                        color: $pink;
                        background-color: white;
                        border: 1px solid $pink;
                        padding: 3px 5px;
                    }
                }

                .cat {
                    display: flex;
                    align-items: center;
                    gap: 2px;
                }
            }

        }

        .main {
            height: calc(80vh - 80px);
            display: flex;
            border: 5px solid white;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .items {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 30px;

                h1{
                    font-size: 70px;
                    margin-bottom: -10px;
                    margin-top: -10px;
                }

                p{
                    font-size: 20px;
                }

                button{
                    width: 150px;
                    height: 40px;
                    cursor: pointer;
                    border: none;
                    background-color: rgb(215, 109, 109);
                    border-radius: 4px;
                    margin-left: 20px;

                    &:hover{
                        background-color: rgb(216, 127, 127);
                    }
                }
            }
        }
    }
}